.classpath
.project
.settings/
bin/
config/
crash-reports/
hs_err_pid19567.log
hs_err_pid20466.log
hs_err_pid22320.log
hs_err_pid24998.log
hs_err_pid25955.log
hs_err_pid27730.log
hs_err_pid31810.log
hs_err_pid32320.log
hs_err_pid4592.log
hs_err_pid9055.log
hs_err_pid9982.log
logs/
options.txt
replay_pid19567.log
replay_pid20466.log
replay_pid32320.log
replay_pid4592.log
replay_pid9055.log
replay_pid9982.log
saves/
screenshots/
usercache.json
usernamecache.json
